manifest {
    name = 'symbiontDivider'
    author = 'Clemens Mauksch'
    homePage = 'https://github.com/clemensma/symbiontDivider'
    description = 'An easy to use pipeline to separate endosymbiont genomes from their host\'s'
    mainScript = 'main.nf'
    nextflowVersion = '!>=20.04.1'
    version = '0.0.1'
}

params {
    // Mandatory arguments
    reads = null
    symbiont_reference = null
    host_reference = null

    // Resource allocation
    // memory = 12
    // threads = 8

    // Flow control
    // skip_coverage = false
    // skip_trimming = false
    // skip_qc       = false
    // skip_assembly = false
    // skip_assembly_quality = false

    // Miscellaneous
    help = false
    version = false

}
